.container-1 input#search{
    width: 600px;
    height: 50px;
    background: #f5f6f8;
    font-size: 10pt;
    color: #000000;
    display: inline-block;
    border-radius: 20px; 
    flex-direction: row;
     
  }
 
.filtroBusqueda{
position:absolute;
background-color: #f4ecec;
width: 600px;

z-index: 1; 
border-radius: 20px;   
}
 
.filtroBusqueda a {
    color: black;
    padding: 10px 16px;
    display:block;
    border-radius: 20px;
  
}
.filtroBusqueda  a:hover {background-color: rgba(96, 82, 164, 0.44)}  
