.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
.principal-app{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 

}
.link{
  text-decoration: none;
  text-transform: uppercase;
}
.principal-footer{
  justify-content: center;
  padding: 50px;

}
.app-home{
  justify-content: center;
}
