.bodyHome {
  justify-content: center;
  margin: 50px;
  padding: 24px;
  min-width: auto;
  max-height: 500px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding: 10px;
  border-radius: 10px;
}
.divuser_page {
  display: flex;
}
.divuser_page {
  justify-content: center;
  align-items: center;
  padding: 2.5em 0;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.umageUSer {
  width: 350px;
  border-style: groove;
  border-color: rgb(0, 0, 0);
  border-radius: 500px;
  margin: 30px;
}
